.container {
    width: 50rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    margin-top: 1.25rem;
}

.white {
    background-color: #f0d9b5;
    width: 6.25rem;
    height: 6.25rem;
}

.black {
    background-color: #b58863;
    width: 6.25rem;
    height: 6.25rem;
}
